body{
    text-align: center;
}
div{
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}
#container{
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    /* this is the property for containers in flex that is here the content is aligned along major axis as justify-content is wriiten which decides how the content (items) will be placed along main/major axis(i.e. row here) and here justify-content: flex-start; this means content starts  from the starting of main axis. */

    /* but if i write  justify-content: flex-end; this means that the direction of items is reversed right to left for flex-direction:row; */

    /* we can also write justify-content: centre; this will arrange the content at the centre of main axis (that is horizontal axis )  */
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
}
#box3{
    background-color: darkkhaki;
}
#box4{
    background-color: indianred;
}
#box5{
    background-color: slateblue;
}