*{
    /* by default we put padding and margin as 0 for all the elements in html initially. */
    padding: 0;
    margin: 0;
    color: white;
}
.contentbox{
    height:100px;
    width: 100px;
    border: 2px solid black;
    color: #0f1111;
    display: inline-block;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color: #fb9004;
    font-size: 25px;
}
#content{
    height: 645px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}