div{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px brown solid;
    /* text-align: right; */
    /* for getting a circle from a square element we can put border-radius: 50̉%; */
    border-radius: 15px;
}